%p
  Hi #{@user.name},
%p
  The 2019 General Election polls have just opened, but we are sorry to say that we haven't been able to match you up with some to swap with.
%p
  All is not lost though - you can still vote for the party you most wish to support, or tactically for a greater good.
%p
  You can compare tactical recommendations for your constituency at <a href="https://comparethetacticals.com">Compare the Tacticals</> which aggregates tactical voting recommendations from Best for Britain, TacticalVote.co.uk, Tactical.vote, Remain United, People's Vote, and two lesser known Brexit sites.
%p
  If you are considering your position on Brexit, you may wish to consult <a href="https://comparethebrexit.com">Compare the Brexit</>, which
%p
  Thank you very much for taking part - together we are making democracy better and more representative.
%p
  All the very best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=confirm_swap&utm_campaign=site">Swap My Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap My Vote on Twitter</a>
  %br
  <a href="https://facebook.com/swapmyvote">Like Swap My Vote on Facebook</a>
  %br
  <a href="https://crowdfunder.co.uk/swapmyvote">Support Swap My Vote on Crowdfunder</a>
